/**
 * Created with WebStorm.
 * Name: custom.css
 * User: ThànhCông
 * Date: 9/30/2014
 * Time: 11:21 PM
 */

.hidden{
    display: none !important;
}

body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container{
    height: 100%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 112px;
    -moz-column-gap: 112px;
    column-gap: 112px;
}

.container .article{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.tooltip{
    text-align: center;
}

.op-add-to-library .add{
    display: inline;
}

.op-add-to-library .remove{
    display: none;
}

.op-add-to-library.added .add{
    display: none;
}

.op-add-to-library.added .remove{
    display: inline;
}

.range-handle{
    width: 20px;
    height: 20px;
    top: -9px;
    cursor: default;
}


/* Style */

.text-action div.font-style{
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.one-page{
    float: left;
    margin-top: 1px;
    margin-left: 7px;
}

.two-page{
    float: left;
    margin-top: 1px;
    margin-right: 5px;
    margin-left: 7px;
}

.increase-size, .decrease-size{
    width: 81px;
    height: 37px;
}

.increase-size {
    margin-left: 8px;
    font-size: 21px;
    line-height: 21px;
}

.decrease-size {
    font-size: 16px;
}

.background-color {
    width: 110px;
    margin-right: 10px;
}

.layout label{
    margin-right: 8px;
}

.effect label{
    line-height: 35px;
    color: #272727;
}

/* Bootstrap custom */

.form-control{
    border-radius: 0;
}

label{
    font-weight: normal;
}

.well{
    padding: 1px 5px;
    border-radius: 0;
}

.btn-sepia{
    color: #787878;
    border-color: #d4c7a2;
    background: #f0e8d1;
}
.btn-sepia:hover {
    color: #787878;
    border-color: #d4c7a2;
    background: #e8dfc6;
}

.btn-sepia:active{
    color: #787878;
    border-color: #d4c7a2;
    background: #e8dfc6;
}

.btn-sepia.active{
    color: #787878;
    border-color: #d4c7a2;
    background: #e8dfc6;
}

/* night */

.btn-night{
    color: #fff;
    border-color: #222;
    background: #555;
}
.btn-night:hover {
    color: #fff;
    border-color: #222;
    background: #333;
}

.btn-night:active{
    color: #fff;
    border-color: #222;
    background: #333;
}

.btn-night.active{
    color: #fff;
    border-color: #222;
    background: #333;
}
