* {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%;
    min-width: 980px;
    min-height: 20rem
}

body {
    background: #fff;
    font-size: 13px;
    font-family: Segoe UI, Helvetica, Arial, sans-serif;
    color: #272727;
    height: 100%;
}

a {
    text-decoration: none
}

ul, li {
    list-style: none
}

button {
    border: none;
    outline: none;
    background: none
}

input[type='text'], textarea, select {
    outline: none
}

header, section, footer, div {
    display: block
}

input[type='text'], input[type='password'], select {
    height: 28px
}

div {
    display: block
}

.border-radius {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.box-sizing {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

body.bg-specia {
    background: #f0e8d1;
    color: #3e2917
}

body.bg-white {
    background: #fff;
    color: #272727
}

body.bg-black {
    background: #000;
    color: #fafafa
}

.button-transition {
    text-shadow: none !important;
    cursor: pointer;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
}

.bt-night {
    border: 1px solid #222;
    background: #222;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3 pxp;
    color: #fff
}

.bt-night:active, .bt-night.bt-active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
    background: #333;
}

.bt-specia {
    border: 1px solid #ccc;
    background: #f9f3e4;
    background: -moz-linear-gradient(top, #f9f3e4 30%, #f0e8d1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #f9f3e4), color-stop(100%, #f0e8d1));
    background: -webkit-linear-gradient(top, #f9f3e4 30%, #f0e8d1 100%);
    background: -o-linear-gradient(top, #f9f3e4 30%, #f0e8d1 100%);
    background: -ms-linear-gradient(top, #f9f3e4 30%, #f0e8d1 100%);
    background: linear-gradient(to bottom, #f9f3e4 30%, #f0e8d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f3e4', endColorstr='#f0e8d1', GradientType=0);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.bt-specia:active, .bt-specia.bt-active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #f9f3e4;
}

.bt-white {
    border: 1px solid #ddd;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(239, 239, 239, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColortr='#efefef', GradientType=0);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}

.bt-white:active, .bt-white.bt-active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #fafafa;
}

header, section#content, .text-action, .option > ul, .list-social, .book-content, .effect {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

header {
    width: 100%;
    background: #0ea8e8;
    height: 54px;
    padding: 9px 10%;
    float: left;
    position: absolute;
    top: 0;
    left: 0
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    position: relative;
    margin-top: 3px
}

.bt-bookmark {
    border: none;
    background: none;
    width: 39px;
    float: right;
}

.bt-bookmark:hover > .ic-onl-bookmark {
    background-position: -132px -121px
}

.header-right > ul > li {
    float: left;
    margin-left: 36px;
    height: 54px
}

.header-right > ul > li > ul, .header-right > ul > li > div {
    display: none
}

.header-right > ul > li.visible > ul, .header-right > ul > li.visible > div {
    display: block
}

.text-action, .option > ul, .table-of-contents {
    position: absolute;
    z-index: 200;
    top: 42px;
    right: 0;
    background: #edf0f0;
}

.table-of-contents .list-book-mark {
    right: 0
}

.table-of-contents .list-book-mark > ul > li > div {
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 5px 0
}

.table-of-contents .list-book-mark > ul > li:hover {
    background: #fff;
    cursor: pointer
}

.text-action {
    width: 480px;
}

.option > ul {
    width: 300px;
}

.option > ul > li {
    height: 70px;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    cursor: pointer
}

.option > ul > li .op-items > span {
    font-size: 18px;
    margin-left: 81px;
}

.option > ul > li:first-child {
    border-top: none;
}

.option > ul > li:hover {
    margin: 0;
    background: #fff
}

.op-items > div, .op-items > ul {
    display: none;
}

.option > ul > li:hover .op-items > div, .op-items:hover > div, .op-items:hover > ul {
    display: block
}

.op-items {
    float: left;
    height: 100%;
    width: 100%;
}

.op-items > div {
    right: 300px;
    top: 0;
}

.list-book-mark, .list-mark-up, .book-onl-search, .op-items > div {
    width: 554px;
    height: 354px;
    background: #fff;
    overflow: auto;
    position: absolute;
    z-index: 5
}

/*.op-bookmark>div{top:-142px}
.op-markup>div{top:-71px}*/
.list-book-mark > ul > li, .list-mark-up > ul > li {
    font-size: 13px;
    color: #949494;
    width: 100%;
    float: left
}

.list-book-mark > ul > li:hover, .list-mark-up > ul > li:hover {
    background: #fafafa
}

.list-book-mark > ul > li > div, .list-mark-up > ul > li > div {
    width: 100%;
    float: left;
    margin-bottom: 10px
}

.list-book-mark > ul > li > span, .list-mark-up > ul > li > span {
    float: right;
    font-size: 11px;
    width: 30%;
    text-align: right
}

.list-mark-up > ul > li > span.mark-up-note {
    float: left;
    width: 60%;
    color: #9c9c9c;
    margin-left: 3%;
    text-align: left
}

.list-book-mark > ul > li > div > span:nth-child(1), .list-mark-up > ul > li > div > span:nth-child(1) {
    color: #0088d5;
    float: left;
    width: 80%;
    margin-left: 3%
}

.list-book-mark > ul > li > div > span:nth-child(2), .list-mark-up > ul > li > div > span:nth-child(2) {
    float: right;
    width: 15%;
    text-align: right
}

/* .op-search>div{top: 0}*/
.book-onl-search-result {
    width: 100%;
    float: left;
    margin-top: 10px
}

.book-onl-search > form {
    width: 95%;
    margin: 0 2.5%;
    border-bottom: 1px solid #ddd;
    float: left;
    margin-top: 43px
}

.book-onl-search-result {
    width: 95%;
    margin-top: 10px 2.5% 0 2.5%
}

.book-onl-search > form > input[type="text"] {
    border: none;
    background: #fff;
    outline: none;
    float: left;
    border: none;
    font-size: 14px;
    color: #949494;
    width: 470px
}

.book-onl-search > form > button {
    width: 32px;
    height: 26px;
    margin-right: 6px;
    float: left;
    background: transparent
}

.book-onl-search > form > button .ic-onl-search-inner {
    width: 21px;
    height: 20px;
    background-position: -94px -145px
}

.li-list-bookmark:hover > div, .li-mark-up:hover > div {
    display: block
}

/*.list-book-mark,.list-mark-up{width: 100%;float: left}*/
.list-book-mark ul > .list-mark-up ul {
    width: 95%;
    float: left;
    margin: 50px 2.5% auto 2.5%
}

.list-book-mark ul li, .list-mark-up ul li {
    padding: 12px 0;
    border-bottom: 1px solid #ddd
}

.list-social {
    width: 175px;
    position: absolute;
    right: 300px;
    height: 354px;
    background: #fff;
    overflow: auto;
    top: 0;
    padding: 0px 14px
}

.list-social > li {
    margin: 26px 0;
    float: left;
    cursor: pointer
}

.list-social > li > span {
    line-height: 32px;
    font-size: 20px
}

.text-action > div {
    width: 100%;
    padding: 15px 30px;
    float: left
}

.text-action label {
    font-size: 20px;
    float: left;
    margin-right: 19px;
}

.text-action div.font-style {
    border: solid #d2d0d0;
    border-width: 1px 0 1px 0
}

.text-action div.font-style {
    padding: 15px 30px 0 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.text-action div ul li {
    width: 100%;
    float: left;
    list-style: none;
    margin-bottom: 1.5rem;
}

.text-action div ul li label {
    line-height: 39px;
    color: #272727;
}

.text-action div ul li select {
    padding-left: 25px;
    width: 85%;
    float: left;
    height: 39px;
    background: #fff;
    outline: none;
    color: #272727;
    font-size: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.text-action div ul li:first-child {
    margin-top: 15px
}

.text-action div ul li:first-child div {
    margin: 7px 0 0 5.8%;
    float: left
}

.text-action div ul li div {
    float: left;
    padding: 0
}

.text-action div ul > li > div:nth-child(1) {
    width: 56%;
}

.text-action div ul > li > div:nth-child(2) {
    width: 44%
}

.text-action div ul li div:nth-child(2) > div {
    width: auto;
    padding: 0 5px;
    margin: 0;
    border: solid #ddd;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(239, 239, 239, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 30%, rgba(239, 239, 239, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColortr='#efefef', GradientType=0);
}

.text-action div ul li div:nth-child(2) > div.one-column {
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px
}

.text-action div ul li div:nth-child(2) > div.two-columns {
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0
}

.text-action div ul li div > label {
    line-height: 39px;
    color: #272727;
    font-size: 20px;
    float: left;
    margin-right: 26px
}

.text-action div ul li div div {
    height: 39px;
    color: #272727;
    width: 70px;
    float: left;
    font-size: 20px;
    margin-right: 15px;
    text-align: center;
    line-height: 39px;
}

.text-action div ul li div div.bigger {
    font-size: 30px
}

.effect div {
    height: 39px;
    width: 30%;
    float: left;
    text-align: center;
    line-height: 39px
}

.effect div:nth-child(2) {
    margin: 0 4%
}

.bookmark.bookmarked .ic-onl-bookmark {
    background-position: -132px -123px;
}

.bookmark.bookmarked {
    top: -13px
}

.bookmark {
    position: absolute;
    right: -69px;
    top: -67px;
    z-index: 200;
    -webkit-transition: top 0.4s ease;
    transition: top 0.4s ease;
}

section#content {
    width: 100%;
    padding: 0 10%;
    float: left;
    position: absolute;
    top: 54px;
    bottom: 83px
}

section#content .book-content {
    padding: 1.5em 0;
    text-align: justify;
    font-size: 1.5em;
    line-height: 175%;
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden
}

#next-page {
    position: absolute;
    right: 7%;
    width: 26px;
    height: 46px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#prev-page {
    position: absolute;
    left: 7%;
    width: 26px;
    height: 46px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

footer {
    width: 80%;
    padding: 0 10% 15px 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 83px;
    background: #fff
}

footer > #defaultslide {
    float: left;
    width: 100%;
    margin: 26px 0 21px 0;
    position: relative
}

.footer-info {
    width: 100%;
    float: left
}

.footer-info > span {
    width: 15%;
    font-size: 16px
}

.footer-info > p {
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #747473;
    float: left
}

.footer-info > p > span {
    color: #aaa
}

.footer-info > span:first-child {
    float: left
}

.footer-info > span:last-child {
    float: right;
    text-align: right
}

.tooltip {
    background: #949494;
    padding: 10px;
    width: 182px;
    position: absolute;
    bottom: 20px;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4 px-webkit-border-radius : 4 px
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: #949494 transparent transparent transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -20px
}

#location-chapter, #location-percent {
    width: 100%;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

#location-percent {
    text-align: center
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.overlay.hidden {
    display: none
}

/*------------------------------------hidden-----------------------------*/
.hidden header, .hidden footer, .hidden #prev-page, .hidden #next-page {
    visibility: hidden
}

.hidden header .bt-bookmark, .hidden footer .footer-info, .hidden #logo, .hidden .ic-onl-back {
    visibility: visible
}

.hidden #logo {
    background: url("../images/logo_book_online.png") no-repeat -79px 0
}

.hidden .ic-onl-back {
    background-position: -105px -83px
}

