<header class="box-sizing">

</header>
<section id="menu">
    <div class="menu-tab">
        <span class="active">Mục lục</span>
        <span>Trang đánh dấu</span>
    </div>
    <div class="menu-content">
        <div class="table-of-content">
            <ul class="visible">
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
                <li><span>Hàng đã nhận miễn trả lại</span><span>12</span></li>
            </ul>
        </div>
        <div class="bookmark">
            <ul>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
                <li>
                    <div><span>Hàng đã nhận miễn trả lại</span><span>12</span></div>
                    <span class="date">Thứ sáu, 18/07/2014</span>
                </li>
            </ul>
        </div>

    </div>
</section>
<section id="content" class="box-sizing">

</section>
<!--<section id="popup" class="add-library">-->
    <!--<div class="overlay"></div>-->
    <!--<div class="popup">-->
        <!--<div class="popup-inner ad-lib">-->
            <!--<div class="popup-header">-->
                <!--<p>Thông báo</p>-->
                <!--<i class="ic-close-popup"></i>-->
            <!--</div>-->
            <!--<div class="popup-content">-->
                <!--<p>Bạn cần đăng nhập để thực hiện chức năng này.</p>-->
                <!--<a class="button-transition button-temp-01">Đăng nhập</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
<!--<div id="loading" class="loading-overlay hidden ">-->
    <!--<div id="facebookG">-->
        <!--<div id="blockG_1" class="facebook_blockG">-->
        <!--</div>-->
        <!--<div id="blockG_2" class="facebook_blockG">-->
        <!--</div>-->
        <!--<div id="blockG_3" class="facebook_blockG">-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<footer class="box-sizing">

</footer>
