<i class="ic-onl-Aa ic-onl-background"></i>
<div class="text-action">
    <div class="font-style">
        <ul>
            <li>
                <label>Style</label>
                <select class="font-family">
                    <%
                        var font = ['Arial', 'Times New Roman', 'Georgia'];
                        for(var i = 0, length = font.length; i < length; i++){
                            var selected = font[i] == Model.fontStyle ? 'selected' : '';
                    %>
                        <option value="<%= font[i] %>" <%= selected %>><%= font[i] %></option>
                    <%
                        }
                    %>
                </select>
            </li>
            <li>
                <div>
                    <label>Size</label>
                    <div class="button-transition bt-white decrease-size">A</div>
                    <div class="button-transition bt-white increase-size bigger">A</div>
                </div>
                <div>
                    <label>Layout</label>
                    <%
                        var column = Model.layout,
                            oneColumn = column == 'one-page' ? 'bt-active' : '',
                            twoColumn = column == 'two-page' ? 'bt-active' : '';
                    %>
                    <div class="one-column <%= oneColumn %>"><i class="ic-one-column ic-onl-background"></i></div>
                    <div class="two-columns <%= twoColumn %>"><i class="ic-two-columns ic-onl-background"></i></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="effect">
        <%
            var color = Model.color,
                white = color == 'White' ? 'bt-active' : '',
                sepia = color == 'Sepia' ? 'bt-active' : '',
                night = color == 'Night' ? 'bt-active' : '';
        %>
        <div class="button-transition bt-white background-color <%= white %>" data-color="White">White</div>
        <div class="button-transition bt-specia background-color <%= sepia %>" data-color="Sepia">Sepia</div>
        <div class="button-transition bt-night background-color <%= night %>" data-color="Night">Night</div>
    </div>
</div>
